[submodule "mucommander-commons-conf"]
	path = mucommander-commons-conf
	url = https://github.com/snouhaud/mucommander-commons-conf
[submodule "mucommander-commons-file"]
	path = mucommander-commons-file
	url = https://github.com/snouhaud/mucommander-commons-file
[submodule "mucommander-commons-collections"]
	path = mucommander-commons-collections
	url = https://github.com/snouhaud/mucommander-commons-collections
[submodule "mucommander-commons-io"]
	path = mucommander-commons-io
	url = https://github.com/snouhaud/mucommander-commons-io
[submodule "mucommander-commons-runtime"]
	path = mucommander-commons-runtime
	url = https://github.com/snouhaud/mucommander-commons-runtime
[submodule "mucommander-commons-util"]
	path = mucommander-commons-util
	url = https://github.com/snouhaud/mucommander-commons-util
